[gerrit]
	basePath = git
	canonicalWebUrl = http://{{ ansible_hostname }}.{{ pri_domain_name }}:{{ gerrit_http_listen_port }}/
[database]
{% for item in gerrit_db_info %}
	type = {{ item.type }}
	database = {{ item.db }}
	hostname = {{ item.host }}
	username = {{ item.user }}
{% endfor %}
[index]
	type = LUCENE
[auth]
	type = OPENID
[sendemail]
	smtpServer = {{ gerrit_smtp_server }}
[container]
{% for item in gerrit_account_info %}
	user = {{ item.user }}
{% endfor %}
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:{{ gerrit_sshd_listen_port }}
[httpd]
	listenUrl = http://*:{{ gerrit_http_listen_port }}/
[cache]
	directory = cache
[gitweb]
	type = gitweb
	cgi = /usr/share/gitweb/gitweb.cgi
